@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .safe-bottom {
    bottom: max(1rem, env(safe-area-inset-bottom) + 1rem);
  }
}

@font-face {
  font-family: "Acorn";
  src: url("assets/fonts/acorn-6.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Acorn";
  src: url("assets/fonts/acorn-8.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    display: none;
    width: 0px;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
